.sidebar {
    max-width: 100%;  
    height: 100%;
    border: 0px solid rgba(0, 0, 0, 0.1);
}

.sidebar-subitem-text {
    font-size: 0.8rem;
}

.topbottomslide {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */ 
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);  
}

.topbottomslideClosed {
    max-height: 0;
    overflow-y: hidden;  
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}